:root{
	font-size: 10px;
	font-family: 'Work Sans', sans-serif;
}

h1{
	font-weight: 700;
	font-size: 2.7rem;
	line-height: 2.7rem;
	text-align: center;
	margin-top: 1.5rem;
}

h2{
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 1.7rem;
	margin-bottom: 1rem;
}

p, li{
	font-size: 1.5rem;
	line-height: 1.6rem;
}

ul li{
	list-style: disc;
	/* margin-left: 2.4rem; */
	margin: 0.5rem 0 0.5rem 2.4rem;
}


img{
	display: block;
	margin: 25px auto;
}
span{
	font-weight: 600;
}


/* table first */


.cv {
	max-width: 850px;
	background: #FFB084;
	border-radius: 20px;
	margin: 0 auto;
}

.table-first {
	display: grid;
	grid-template-columns: 1.3fr 1fr 1fr;
	grid-template-rows: repeat(6, 1fr);
	width: 100%;
	gap: 22px;
	margin: 27px auto;
	padding: 45px;
	box-sizing: border-box;
}

.table-first>div{
	background: #FFFFFF;
	box-shadow: 7px 7px 0px #000000;
	border-radius: 20px;
	padding: 15px 25px;
	box-sizing: border-box;
}

.table-first div:nth-child(1){
	grid-row-start: 1;
	grid-row-end: 7;
	width: 100%;
}

.table-first div:nth-child(1) p{
	font-size: 1.3rem;
	line-height: 1.4rem;
	margin: 2rem 0;
}

.inline{
	display: inline;
}
.inline:first-of-type{

}

.table-first div:nth-child(2){
	grid-column-start: 2;
	grid-column-end: 4 ;
	grid-row-start: 1;
	grid-row-end: 3;
	width: 100%;
}

.table-first div:nth-child(3){
	grid-row-start: 3;
	grid-row-end: 5;
	width: 100%;
	box-shadow: 7px 7px 0px #29A71E;
}

.table-first div:nth-child(3) h2{
	color: #29A71E;
}

.table-first div:nth-child(4){
	grid-row-start: 3;
	grid-row-end: 6;
	width: 100%;
	box-shadow: 7px 7px 0px #E13535;
}

.table-first div:nth-child(4) h2{
	color: #E13535;
}

.table-first div:nth-child(5){
	grid-row-start: 5;
	grid-row-end: 8;
	width: 100%;
	box-shadow: 7px 7px 0px #3675B0;
}

.table-first div:nth-child(5) li{
	margin: 1.5rem 0 1.5rem 2.5rem;
}

.table-first div:nth-child(5) h2{
	color: #3675B0;
}

.table-first div:nth-child(6){
	grid-row-start: 6;
	grid-row-end: 8;
	width: 100%;
}

.table-first div:nth-child(6) p{
	margin: 1.5rem 0;
}


/* table second */


.table {
	display: grid;
	grid-template-columns: 34% 30% 30%;
	grid-template-rows: 30% 30% 30%;
	width: 100%;
	gap: 22px;
	margin: 27px auto;
	padding: 20px;
}

.table>div{
	background: #FFFFFF;
	box-shadow: 7px 7px 0px #000000;
	border-radius: 20px;
	padding: 15px 25px;
}


.table div:nth-child(1){
	grid-row-start: 1;
	grid-row-end: 3;
	width: 100%;
	height: 319px;
}



.table div:nth-child(1) p{
	font-size: 1.2rem;
	line-height: 1.4rem;
}

.table div:nth-child(2){
	grid-column-start: 2;
	grid-column-end: 4;
	width: 100%;
	height: 117px;
}

.table div:nth-child(3){
	width: 100%;
	height: 101px;
	box-shadow: 7px 7px 0px #29A71E;
}

.table div:nth-child(3) h2{
	color: #29A71E;
}

.table div:nth-child(4){
	width: 100%;
	height: 165px;
	box-shadow: 7px 7px 0px #E13535;
}
.table div:nth-child(4) h2{
	color: #E13535;
}

.table div:nth-child(5){
	width: 100%;
	height: 62px;
}

.table div:nth-child(6){
	width: 100%;
	height: 151px;
	box-shadow: 7px 7px 0px #3675B0;
}

.table div:nth-child(6) h2{
	color: #3675B0;
}

.table div:nth-child(7){
	width: 100%;
	height: 89px;
}



